@model ProjectMAP.Models.MedicalImage

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MedicalImage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MedicalImageID" />
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticID" class="control-label"></label>
                <select asp-for="DiagnosticID" class="form-control" asp-items="ViewBag.DiagnosticID"></select>
                <span asp-validation-for="DiagnosticID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PacientID" class="control-label"></label>
                <select asp-for="PacientID" class="form-control" asp-items="ViewBag.PacientID"></select>
                <span asp-validation-for="PacientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <select asp-for="DoctorID" class="form-control" asp-items="ViewBag.DoctorID"></select>
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
